{% extends "base.html" %}

{% block content %}
<div class="large-12 large-centered columns">
	<div class="row">
		<h2>{{ project.title }} <small><a href="{% url "project-update" project_id=project.pk %}">edit</a></small></h2>
	</div>
	<div class="row">
        {% if my_tickets or tickets %}
            <table>
                <thead>
                    <tr>
                        <th width="1200">Title</th>
                        <th width="1200">Assigned</th>
                        <th>State</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        {% for ticket in my_tickets %}
                            {% include 'site/ticket_list_snippet.html' with ticket=ticket %}
                        {% endfor %}
                        {% for ticket in tickets %}
                            {% include 'site/ticket_list_snippet.html' with ticket=ticket %}
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel callout">
                <h4>There are currently no tickets.</h4>
				<p>
                Click on <b>Create Ticket</b> button below to make a new one!
				</p>
            </div>
        {% endif %}
	</div>
	<div class="row">
		<p><a href="{% url "ticket-create" project_id=project.pk %}" class="button">Create ticket</a></p>
	</div>
</div>
{% endblock %}
