{% extends "base.html" %}

{% block content %}
<div class="large-12 large-centered columns">
    <div class="row">
        {% if object_list %}
            <table>
                <thead>
                    <tr>
                        <th width="1200">Project title</th>

                        <th><i class="fi-asterisk"></i></th>
                        <th><i class="fi-check"></i></th>
                        <th><i class="fi-page-edit"></i></th>
                        <th><i class="fi-page"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in object_list %}
                    <tr>
                        <td><a href="{% url "project-detail" project_id=project.pk %}">{{ project.title }}</a></td>
                        <td>{{ project.new_counter.value }}</td>
                        <td>{{ project.open_counter.value }}</td>
                        <td>{{ project.closed_counter.value }}</td>
                        <td>{{ project.counter.value }}</td>
                        <td>
                            <a href="{% url "project-update" project_id=project.pk %}">
                                <i class="fi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel callout">
				<h4>There are no projects.</h4>
				<p>
                Click on <b>Create Project</b> to get started on your new project!
				</p>
            </div>
        {% endif %}
	</div>
	<div class="row">
		<p><a href="{% url "project-create" %}" class="button">Create project</a></p>
	</div>
</div>
{% endblock %}
